In [1]:
!hdfs dfs -put /home/talentum/covid-19_dataset.csv /

In [2]:
!hdfs dfs -ls /

Found 4 items
-rw-r--r--   1 talentum supergroup      13978 2023-12-05 08:13 /covid-19_dataset.csv
drwxr-xr-x   - talentum supergroup          0 2023-12-05 00:28 /hbase
drwx-wx-wx   - talentum supergroup          0 2023-12-05 00:22 /tmp
drwxr-xr-x   - talentum supergroup          0 2023-12-04 19:23 /user

In [4]:
!head -3 /home/talentum/covid-19_dataset.csv

In [40]:
df=spark.read.csv('hdfs:///covid-19_dataset.csv',header=True,inferSchema=True)

In [41]:
df.printSchema()

root
 |-- DeadCounter: integer (nullable = true)
 |-- CaseCounter: integer (nullable = true)
 |-- RecoveredCounter: integer (nullable = true)
 |-- CriticalCounter: integer (nullable = true)
 |-- Date: string (nullable = true)

In [7]:
from pyspark.sql.functions import *

In [42]:
df=df.withColumn('date_c',to_date('Date','mm-dd-yyyy'))

In [43]:
df.show(3)

+-----------+-----------+----------------+---------------+----------+----------+
|DeadCounter|CaseCounter|RecoveredCounter|CriticalCounter|      Date|    date_c|
+-----------+-----------+----------------+---------------+----------+----------+
|          1|         72|             188|             -9|05-09-2021|2021-01-09|
|          1|        103|             187|             -5|04-09-2021|2021-01-09|
|          1|         95|             113|            -11|03-09-2021|2021-01-09|
+-----------+-----------+----------------+---------------+----------+----------+
only showing top 3 rows

## 1

In [47]:
df.select('date_c').orderBy('CaseCounter',ascending=False).show(1)

+----------+
|    date_c|
+----------+
|2021-01-07|
+----------+
only showing top 1 row

## 2

In [49]:
df.select('CaseCounter').orderBy('CriticalCounter',ascending=False).show(1)

+-----------+
|CaseCounter|
+-----------+
|        991|
+-----------+
only showing top 1 row

## 3

In [51]:
df.select('date_c').orderBy('RecoveredCounter',ascending=False).show(1)

+----------+
|    date_c|
+----------+
|2021-01-07|
+----------+
only showing top 1 row