# Spark Evaluation Lab 6

<img src="Spark_Lab_Statement.jpg" align = "center">  

- Analyze it using Spark and answer the following questions: 
> 1. Find which `sector` has the most startups

In [2]:
!pwd

/home/talentum/spark-jupyter/eval 6

In [13]:
from pyspark.sql.functions import *

In [31]:
df=spark.read.csv('file:///home/talentum/spark-jupyter/eval 6/Listofstartups.csv',inferSchema=True,header=True)

In [32]:
df.columns

['Incubation_Center', 'Name_of_startup', 'Location of company', 'Sector']

In [12]:
df.groupBy('Sector').count().orderBy('count',ascending=False).show(1)

+----------+-----+
|    Sector|count|
+----------+-----+
|Healthcare|   34|
+----------+-----+
only showing top 1 row

> 2. Split the `Location of company` into 2 columns, `state` and `city`. If state is not present then keep it as null

In [27]:
df.withColumn('state',when(size (split(df['Location of company'],',') )== 1 , split(df['Location of company'],',')[0]).otherwise(split(df['Location of company'],',')[1])).show(5)
df.withColumn('city',split(df['Location of company'],',')[0]).show(5)

+--------------------+--------------------+--------------------+-----------+--------------+
|   Incubation_Center|     Name_of_startup| Location of company|     Sector|         state|
+--------------------+--------------------+--------------------+-----------+--------------+
|      ABES Ghaziabad|            Suryansh|           New Delhi|     EdTech|     New Delhi|
|AIC Banasthali Vi...|Thinkpods Educati...| Satara, Maharashtra|    Ed Tech|   Maharashtra|
|AIC Banasthali Vi...|Inventiway Soluti...| Mumbai, Maharashtra|    HR Tech|   Maharashtra|
|AIC Banasthali Vi...|C2M Internet Indi...|Lucknow, Uttar Pr...|Retail Tech| Uttar Pradesh|
|AIC Pinnacle Entr...|            Wastinno|   Pune, Maharashtra|agriculture|   Maharashtra|
+--------------------+--------------------+--------------------+-----------+--------------+
only showing top 5 rows

+--------------------+--------------------+--------------------+-----------+---------+
|   Incubation_Center|     Name_of_startup| Location of company|     Sector|     city|
+--------------------+--------------------+--------------------+-----------+---------+
|      ABES Ghaziabad|            Suryansh|           New Delhi|     EdTech|New Delhi|
|AIC Banasthali Vi...|Thinkpods Educati...| Satara, Maharashtra|    Ed Tech|   Satara|
|AIC Banasthali Vi...|Inventiway Soluti...| Mumbai, Maharashtra|    HR Tech|   Mumbai|
|AIC Banasthali Vi...|C2M Internet Indi...|Lucknow, Uttar Pr...|Retail Tech|  Lucknow|
|AIC Pinnacle Entr...|            Wastinno|   Pune, Maharashtra|agriculture|     Pune|
+--------------------+--------------------+--------------------+-----------+---------+
only showing top 5 rows

In [33]:
df.withColumn('state',when(size (split(df['Location of company'],',') )== 1 , split(df['Location of company'],',')[0]).otherwise(split(df['Location of company'],',')[1])).show(5)
df.withColumn('city',split(df['Location of company'],',')[0]).show(5)

+--------------------+--------------------+--------------------+-----------+--------------+
|   Incubation_Center|     Name_of_startup| Location of company|     Sector|         state|
+--------------------+--------------------+--------------------+-----------+--------------+
|      ABES Ghaziabad|            Suryansh|           New Delhi|     EdTech|     New Delhi|
|AIC Banasthali Vi...|Thinkpods Educati...| Satara, Maharashtra|    Ed Tech|   Maharashtra|
|AIC Banasthali Vi...|Inventiway Soluti...| Mumbai, Maharashtra|    HR Tech|   Maharashtra|
|AIC Banasthali Vi...|C2M Internet Indi...|Lucknow, Uttar Pr...|Retail Tech| Uttar Pradesh|
|AIC Pinnacle Entr...|            Wastinno|   Pune, Maharashtra|agriculture|   Maharashtra|
+--------------------+--------------------+--------------------+-----------+--------------+
only showing top 5 rows

+--------------------+--------------------+--------------------+-----------+---------+
|   Incubation_Center|     Name_of_startup| Location of company|     Sector|     city|
+--------------------+--------------------+--------------------+-----------+---------+
|      ABES Ghaziabad|            Suryansh|           New Delhi|     EdTech|New Delhi|
|AIC Banasthali Vi...|Thinkpods Educati...| Satara, Maharashtra|    Ed Tech|   Satara|
|AIC Banasthali Vi...|Inventiway Soluti...| Mumbai, Maharashtra|    HR Tech|   Mumbai|
|AIC Banasthali Vi...|C2M Internet Indi...|Lucknow, Uttar Pr...|Retail Tech|  Lucknow|
|AIC Pinnacle Entr...|            Wastinno|   Pune, Maharashtra|agriculture|     Pune|
+--------------------+--------------------+--------------------+-----------+---------+
only showing top 5 rows

> 3. If `Location of company` column has a data `DIAT,Pune` then set 
    `state` as `Maharashtra` and `city` as `DIAT Pune`.

> 4. If `Location of company` column has a data `Ulhasnagar` then 
    set `state` as `Maharashtra` and `city` as `Ulhasnagar`

> 5. Find which State has the max number of startups

> 6. Find all the startups from `Maharashtra`.

> 7. How many startups were formed in `Healthcare` sector

> 8. Display all startups from `Pune` and `Nashik`

> 9. Sort the cities in `Maharashtra` in descending order of the 
    count of startups

> 10. How many startups are in South India. That is states 
    `Karnataka`, `Tamilnadu`, `Telangana`, `Andhra Pradesh`

> 11. How many startups are in `Gujarat`

> 12. How many startups are in North India.That is states other than 
    `Karnataka`, `Tamilnadu`, `Telangana`, `Andhra Pradesh` and 
    `Maharashtra`

> 13. What is the percentage of startup initiative from South India 
    and Maharashtra

> 14. What is the percentage contribution of startup from Maharashtra

> 15. What is the percentage contribution of startup from Gujarat

> 16. Replace `state` with null values to `Unknown`

In [1]:
# Intialization
import os
import sys

os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'

In [2]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext