# PySpark DataFrame subsetting and cleaning

- After data inspection, it is often necessary to clean the data which mainly involves subsetting, renaming the columns, removing duplicated rows etc., PySpark DataFrame API provides several operators to do this. In this exercise, your job is to subset `'name'`, `'sex'` and `'date of birth'` columns from `people_df` DataFrame, remove any duplicate rows from that dataset and count the number of rows before and after duplicates removal step.

- Remember, you already have `SparkSession` `spark` and `people_df` DataFrames available in your workspace.

## Instructions

- Select `'name'`, `'sex'` and `'date of birth'` columns from `people_df` and create `people_df_sub` DataFrame.
- Print the first 10 observations in the `people_df` DataFrame.
- Remove duplicate entries from `people_df_sub` DataFrame and create `people_df_sub_nodup` DataFrame.
- How many rows are there before and after duplicates are removed?

In [ ]:
# Intialization
import os
import sys

os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell''

In [ ]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

In [1]:
# file_path = "<pwd>/Dataset/people.csv"
file_path = "file:///home/talentum/spark-jupyter/2_OperatingonDataFramesinPySpark/Dataset/people.csv"

# Create an DataFrame from file_path
people_df = spark.read.csv(file_path, header=True, inferSchema=True)

# Select name, sex and date of birth columns
people_df_sub = people_df.select('name', 'sex', 'date of birth')

# Print the first 10 observations from people_df_sub
people_df_sub.show(10)

# Remove duplicate entries from people_df_sub
people_df_sub_nodup = people_df_sub.drop_duplicates()

# Count the number of rows
print("There were {} rows before removing duplicates, and {} rows after removing duplicates".format(people_df_sub.count(), people_df_sub_nodup.count()))

+----------------+------+-------------+
|            name|   sex|date of birth|
+----------------+------+-------------+
|  Penelope Lewis|female|   1990-08-31|
|   David Anthony|  male|   1971-10-14|
|       Ida Shipp|female|   1962-05-24|
|    Joanna Moore|female|   2017-03-10|
|  Lisandra Ortiz|female|   2020-08-05|
|   David Simmons|  male|   1999-12-30|
|   Edward Hudson|  male|   1983-05-09|
|    Albert Jones|  male|   1990-09-13|
|Leonard Cavender|  male|   1958-08-08|
|  Everett Vadala|  male|   2005-05-24|
+----------------+------+-------------+
only showing top 10 rows

There were 100000 rows before removing duplicates, and 99998 rows after removing duplicates

In [2]:
xxv=people_df_sub.exceptAll(people_df_sub_nodup)

In [3]:
xxv.toPandas()

            name     sex date of birth
0  Kathryn Davis  female   20175-02-28
1   Robert Smith    male   20175-02-28

In [4]:
people_df.where("name == 'Robert Smith'").show()

+-----+---------+------------+----+-------------+
|  _c0|person_id|        name| sex|date of birth|
+-----+---------+------------+----+-------------+
| 1152|     1252|Robert Smith|male|   1980-03-06|
| 2162|     2262|Robert Smith|male|   1982-03-03|
| 2298|     2398|Robert Smith|male|   1974-09-27|
|12790|    12890|Robert Smith|male|   1987-03-29|
|22648|    22748|Robert Smith|male|  20175-02-28|
|26470|    26570|Robert Smith|male|   2010-02-21|
|27990|    28090|Robert Smith|male|   1979-06-24|
|30909|    31009|Robert Smith|male|   1991-11-25|
|48991|    49091|Robert Smith|male|   1989-10-25|
|54424|    54524|Robert Smith|male|   2006-01-15|
|63913|    64013|Robert Smith|male|  20175-02-28|
|72571|    72671|Robert Smith|male|   2027-02-25|
|74012|    74112|Robert Smith|male|   1961-09-12|
|82216|    82316|Robert Smith|male|   1977-02-06|
|86473|    86573|Robert Smith|male|   1999-12-01|
|88636|    88736|Robert Smith|male|   1967-02-09|
+-----+---------+------------+----+-------------+

In [5]:
people_df.columns

['_c0', 'person_id', 'name', 'sex', 'date of birth']

In [32]:
people_df.createOrReplaceTempView('peopledf')
per.createOrReplaceGlobalTempView('test_table')

AttributeError: 'SparkSession' object has no attribute 'createOrReplaceGlobalTempView'

In [20]:
dff1=spark.sql("select * from peopledf limit 10")

In [21]:
dff1.show(5)

+---+---------+--------------+------+-------------+
|_c0|person_id|          name|   sex|date of birth|
+---+---------+--------------+------+-------------+
|  0|      100|Penelope Lewis|female|   1990-08-31|
|  1|      101| David Anthony|  male|   1971-10-14|
|  2|      102|     Ida Shipp|female|   1962-05-24|
|  3|      103|  Joanna Moore|female|   2017-03-10|
|  4|      104|Lisandra Ortiz|female|   2020-08-05|
+---+---------+--------------+------+-------------+
only showing top 5 rows

In [12]:
dff=spark.sql("SELECT * FROM peopledf LIMIT 10")

In [25]:
spark.sql("show tables").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
| default|test_table|      false|
|        |  peopledf|       true|
+--------+----------+-----------+

In [33]:
spark.sql("insert into test_table values(1232,'2dsadsads')")

DataFrame[]

In [34]:
spark.sql("select * from test_table").show()

+----+---------+
|  id|     name|
+----+---------+
|1232|2dsadsads|
|  12| dsadsads|
+----+---------+

In [13]:
dff.show()

+---+---------+----------------+------+-------------+
|_c0|person_id|            name|   sex|date of birth|
+---+---------+----------------+------+-------------+
|  0|      100|  Penelope Lewis|female|   1990-08-31|
|  1|      101|   David Anthony|  male|   1971-10-14|
|  2|      102|       Ida Shipp|female|   1962-05-24|
|  3|      103|    Joanna Moore|female|   2017-03-10|
|  4|      104|  Lisandra Ortiz|female|   2020-08-05|
|  5|      105|   David Simmons|  male|   1999-12-30|
|  6|      106|   Edward Hudson|  male|   1983-05-09|
|  7|      107|    Albert Jones|  male|   1990-09-13|
|  8|      108|Leonard Cavender|  male|   1958-08-08|
|  9|      109|  Everett Vadala|  male|   2005-05-24|
+---+---------+----------------+------+-------------+